.Weight{
    width: 80%;
    text-align: center;
    background-color: #BBA8A3;
    height: 125px;
    margin-top: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 13px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 13px -1px rgba(0,0,0,0.25);
    box-shadow: 10px 10px 13px -1px rgba(0,0,0,0.25);
}

.Weight input {
    width: 80%;
    font-size: 4rem;
    background-color: #BBA8A3;
    border:none;
    text-align: center;
    color: #443e41;
}